<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="scheduledExecutorService" class="org.springframework.scheduling.concurrent.ScheduledExecutorFactoryBean"
          lazy-init="false">
        <property name="threadNamePrefix" value="NotifyTasks"/>
        <property name="continueScheduledExecutionAfterException" value="true"/>
        <property name="poolSize" value="100"/>
    </bean>
</beans>