<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sogou.pay.service.dao.AgencyInfoDao">

    <resultMap type="com.sogou.pay.service.entity.AgencyInfo" id="agencyInfo">
        <result property="id" column="id"/>
        <result property="agencyCode" column="agency_code"/>
        <result property="agencyName" column="agency_name"/>
        <result property="accessPlatform" column="access_platform"/>
        <result property="aliasFlag" column="alias_flag"/>
        <result property="prepayUrl" column="prepay_url"/>
        <result property="payUrl" column="pay_url"/>
        <result property="queryUrl" column="query_url"/>
        <result property="refundUrl" column="refund_url"/>
        <result property="queryRefundUrl" column="query_refund_url"/>
        <result property="downloadUrl" column="download_url"/>
        <result property="sendPhoneUrl" column="send_phone_url"/>
        <result property="pageBackUrl" column="page_back_url"/>
        <result property="notifyBackUrl" column="notify_back_url"/>
        <result property="refundNotifyBackUrl" column="refund_notify_back_url"/>
        <result property="transferNotifyBackUrl" column="transfer_notify_back_url"/>
        <result column="createTime" property="create_time"/>
        <result column="modifyTime" property="modify_time"/>
    </resultMap>
 
 	<cache eviction="LRU" type="com.sogou.pay.common.cache.MybatisRedisCache"/>

    <select id="getAgencyInfoList" resultMap="agencyInfo">
        SELECT * from t_pay_agency_info
    </select>

    <!--根据查询条件获取支付机构基本信息 -->
    <select id="getAgencyInfoByCode" resultMap="agencyInfo">

      SELECT * FROM t_pay_agency_info
         WHERE agency_code = #{agencyCode} and (access_platform = #{accessPlatform} or access_platform IS NULL)
         order by access_platform DESC limit 1
    </select>

    <!-- 根据ID获取单条信息-->
    <select id="getById" resultMap="agencyInfo">
        SELECT * from t_pay_agency_info where id=#{id}
    </select>
</mapper>