<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sogou.pay.service.dao.PayBankAliasDao">

    <resultMap id="resultMap" type="com.sogou.pay.service.entity.PayBankAlias">
        <result column="id" property="id"/>
        <result column="agency_code" property="agencyCode"/>
        <result column="bank_code" property="bankCode"/>
        <result column="alias_name" property="aliasName"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <cache eviction="LRU" type="com.sogou.pay.common.cache.MybatisRedisCache"/>

    <select id="selectPayBankAlias" resultMap="resultMap">
        SELECT * FROM t_pay_bank_alias
        WHERE agency_code = #{agencyCode}
        AND bank_code = #{bankCode}
    </select>
</mapper>