<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sogou.pay.service.dao.PayCheckFeeDiffDao">

    <resultMap id="payCheckFeeDiffMap" type="com.sogou.pay.service.entity.PayCheckFeeDiff" autoMapping="true">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="version" property="version"/>
        <result column="instruct_id" property="instructId"/>
        <result column="biz_amt" property="bizAmt"/>
        <result column="fee_amt" property="feeAmt"/>
        <result column="out_order_id" property="outOrderId"/>
        <result column="out_biz_amt" property="outBizAmt"/>
        <result column="out_fee_amt" property="outFeeAmt"/>
        <result column="biz_code" property="bizCode"/>
        <result column="out_trans_time" property="outTransTime"/>
        <result column="check_date" property="checkDate"/>
        <result column="agency_code" property="agencyCode"/>
        <result column="merchant_no" property="merchantNo"/>
        <result column="handle_status" property="handleStatus"/>
        <result column="remark" property="remark"/>
    </resultMap>


    <sql id="tableColumns">
        id,create_time,modify_time,version, instruct_id,biz_amt, fee_amt,out_order_id, out_biz_amt,out_fee_amt, biz_code,
        out_trans_time,diff_type,check_date,agency_code,merchant_no,handle_status,remark
    </sql>

    <insert id="insertFeeDiff">
        insert into t_pay_check_fee_diff (
        create_time,
        modify_time,
        version,
        instruct_id,
        biz_amt,
        fee_amt,
        out_order_id,
        out_biz_amt,
        out_fee_amt,
        biz_code,
        out_trans_time,
        check_date,
        agency_code,
        merchant_no,
        handle_status
        )
        select
        now(),
        now(),
        0,
        t1.instruct_id,
        t2.biz_amt,
        t2.commission_fee_amt as fee_amt,
        t1.out_order_id,
        t1.biz_amt as out_biz_amt,
        t1.commission_fee_amt as out_fee_amt,
        t1.biz_code,
        t1.out_trans_time,
        t1.check_date,
        t1.agency_code,
        t1.merchant_no,
        0
        from(select * from  t_pay_check t
        where
        check_date=#{checkDate}
        and agency_code=#{agencyCode}
        and  t.status =1
        ) t1
        join t_pay_check_waiting  t2 on (t1.instruct_id = t2.instruct_id )
        where t1.commission_fee_amt != t2.commission_fee_amt
    </insert>


    <delete id="delete">
        DELETE FROM t_pay_check_fee_diff WHERE check_date = #{checkDate} and agency_code=#{agencyCode}
    </delete>


</mapper>