<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sogou.pay.service.dao.ChannelAdaptDao">

    <resultMap type="com.sogou.pay.service.model.PayChannelAdapt" id="PayChannelAdapt">
        <result column="channel_code" property="channelCode" />
        <result column="channel_name" property="channelName" />
        <result column="channel_nature" property="channelNature" />
        <result column="channel_type" property="channelType"/>
        <result column="access_platform" property="accessPlatform"/>
        <result column="bank_card_type" property="bankCardType" />
        <result column="logo" property="logo" />
        <result column="low_limit" property="lowLimit"/>
        <result column="high_limit" property="highLimit"/>
        <result column="sort" property="sort"/>
    </resultMap>

    <cache eviction="LRU" type="com.sogou.pay.common.cache.MybatisRedisCache"/>

    <!-- 获取业务平台全部银行适配列表-->
    <select id="getChannelAdaptList" resultMap="PayChannelAdapt">
        SELECT channel2.channel_code,channel2.channel_name,channel2.channel_nature,channel2.channel_type,channel2.access_platform,
            channel2.bank_card_type,channel2.logo,channel2.low_limit,channel2.high_limit,adapt2.sort
         FROM (SELECT adapt.channel_id, adapt.sort FROM t_pay_channel_adapt adapt WHERE adapt.app_id=#{appId} AND adapt.status = 1) adapt2
         INNER JOIN (SELECT channel.id,channel.channel_code,channel.channel_name,channel.channel_nature,channel.channel_type,channel.access_platform,
            channel.bank_card_type,channel.logo,channel.low_limit,channel.high_limit FROM  t_pay_channel_info channel
            WHERE channel.access_platform = #{accessPlatform} OR channel.access_platform = 4) channel2
         ON adapt2.channel_id = channel2.id
         ORDER BY sort
    </select>


</mapper>