<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sogou.pay.service.dao.PayCheckResultDao">

    <resultMap id="payCheckResultMap" type="com.sogou.pay.service.entity.PayCheckResult" autoMapping="true">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="total_num" property="totalNum"/>
        <result column="total_amt" property="totalAmt"/>
        <result column="out_total_num" property="outTotalNum"/>
        <result column="out_total_amt" property="outTotalAmt"/>
        <result column="biz_code" property="bizCode"/>
        <result column="status" property="status"/>
        <result column="check_date" property="checkDate"/>
        <result column="agency_code" property="agencyCode"/>
    </resultMap>


    <sql id="tableColumns">
        id,create_time,total_num,total_amt,out_total_num,
        out_total_amt,biz_code,status,check_date,agency_code
    </sql>

    <insert id="insert">
        INSERT INTO t_pay_check_result (
        create_time,
        total_num,
        total_amt,
        out_total_num,
        out_total_amt,
        biz_code,
        status,
        check_date,
        agency_code
        )
       SELECT
        now(),
        count(t2.instruct_id) as total_num,
        IFNULL(sum(t2.biz_amt), 0) as total_amt,
        count(t1.instruct_id) AS out_total_num,
        IFNULL(SUM(t1.biz_amt), 0) as out_total_amt,
        t1.biz_code,
        0,
        t1.check_date,
        t1.agency_code
        FROM t_pay_check t1 left join t_pay_check_waiting t2 on t1.instruct_id=t2.instruct_id
      WHERE t1.check_date = #{checkDate} and t1.agency_code=#{agencyCode}
      GROUP by t1.check_date,t1.agency_code,t1.biz_code

    </insert>


    <delete id="delete">
        DELETE FROM t_pay_check_result WHERE check_date = #{checkDate} and agency_code=#{agencyCode}
    </delete>

    <update id="updateStatus">
        UPDATE t_pay_check_result 
	        SET   status =#{status}
         WHERE ID = #{id}
    </update>


    <select id="queryCountByDateAndAgency"  resultType="int">
        SELECT
        COUNT(id)
        FROM t_pay_check_result
        WHERE 1=1
        <if test="checkDate != null">AND check_date = #{checkDate}</if>
        <if test="agencyCode != null">AND agency_code = #{agencyCode}</if>
    </select>

    <select id="queryByDateAndAgency" resultMap="payCheckResultMap">
        SELECT
        <include refid="tableColumns"/>
        FROM t_pay_check_result
        WHERE 1=1
        <if test="checkDate != null">AND check_date = #{checkDate}</if>
        <if test="agencyCode != null">AND agency_code = #{agencyCode}</if>
    </select>


</mapper>