<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sogou.pay.service.dao.PayOrderDao">

    <resultMap id="resultMap" type="com.sogou.pay.service.entity.PayOrderInfo">
        <result column="app_id" property="appId"/>
        <result column="access_platform" property="accessPlatform"/>
        <result column="pay_id" property="payId"/>
        <result column="order_id" property="orderId"/>
        <result column="channel_code" property="channelCode"/>
        <result column="product_info" property="productInfo"/>
        <result column="buyer_account" property="buyerAccount"/>
        <result column="buyer_ip" property="buyerIp"/>
        <result column="seller_account" property="sellerAccount"/>
        <result column="order_money" property="orderMoney"/>
        <result column="refund_money" property="refundMoney"/>
        <result column="order_create_time" property="orderCreateTime"/>
        <result column="create_time" property="createTime"/>
        <result column="pay_success_time" property="paySuccessTime"/>
        <result column="pay_status" property="payStatus"/>
        <result column="refund_flag" property="refundFlag"/>
        <result column="notify_status" property="notifyStatus"/>
        <result column="order_type" property="orderType"/>
        <result column="app_page_url" property="appPageUrl"/>
        <result column="app_bg_url" property="appBgUrl"/>
    </resultMap>

    <insert id="insertPayOrder" parameterType="PayOrderInfo">
        insert into t_pay_order_info(
            app_id,
            access_platform,
            pay_id,
            order_id,
            channel_code,
            product_info,
            buyer_account,
            buyer_ip,
            seller_account,
            order_money,
            refund_money,
            order_create_time,
            create_time,
            pay_success_time,
            pay_status,
            refund_flag,
            notify_status,
            order_type,
            app_page_url,
            app_bg_url
        )
        values
        (
            #{appId},
            #{accessPlatform},
            #{payId},
            #{orderId},
            #{channelCode},
            #{productInfo},
            #{buyerAccount},
            #{buyerIp},
            #{sellerAccount},
            #{orderMoney},
            #{refundMoney},
            #{orderCreateTime},
            #{createTime},
            #{paySuccessTime},
            #{payStatus},
            #{refundFlag},
            #{notifyStatus},
            #{orderType},
            #{appPageUrl},
            #{appBgUrl}
        )
    </insert>

    <select id="selectPayOrderById" resultMap="resultMap">
        SELECT app_id,access_platform,pay_id,order_id,order_money,refund_money,pay_status,app_bg_url
        FROM t_pay_order_info WHERE pay_id = #{payId}
    </select>

    <update id="updateAddRefundMoney">
        UPDATE t_pay_order_info SET refund_money = refund_money + #{refundAmount}, refund_flag = #{refundFlag} WHERE pay_id=#{payId} AND order_money - refund_money >= #{refundAmount}
    </update>

    <update id="updatePayOrder" parameterType="PayOrderInfo">
        UPDATE t_pay_order_info
        <set>
            <if test="payStatus != null">
                pay_status = #{payStatus}
            </if>
            <if test="paySuccessTime != null">
                pay_success_time = #{paySuccessTime}
            </if>
            <if test="notifyStatus != null">
                notify_status = #{notifyStatus}
            </if>
            <where>
                <if test="payId != null">
                    pay_id = #{payId}
                </if>
            </where>
        </set>
    </update>

    <update id="updatePayOrderByPayId">
        UPDATE t_pay_order_info
        SET channel_code= #{channelCode}, pay_status = #{payStatus} , pay_success_time = #{paySuccessTime}
        WHERE pay_id = #{payId}
    </update>

    <select id="selectPayOrderByPayIdList" parameterType="java.util.List" resultMap="resultMap">
        SELECT app_id,pay_id,order_id,order_money,pay_success_time,app_page_url FROM t_pay_order_info
        WHERE pay_id IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item.payId}
        </foreach>
    </select>

    <select id="selectPayOrderByOrderId" resultMap="resultMap">
    	SELECT access_platform,pay_id,order_id,channel_code,product_info,buyer_account,order_money,refund_money,refund_flag,pay_status
    	FROM t_pay_order_info
    	WHERE order_id = #{orderId} AND app_id = #{appId}
    </select>
</mapper>