<?xml version="1.0" encoding="UTF-8"?>
<!-- Reference Manual http://logback.qos.ch/manual/index.html -->
<configuration>
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="/search/pay/log"/>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 日志输出编码 -->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
            </pattern>
        </layout>
    </appender>

    <!-- 按照每天生成日志文件 -->
    <appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/orderTrace/pay-info.log.%d{yyyy-MM-dd}</FileNamePattern>
            <!--<MaxHistory>30</MaxHistory>-->
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
            </pattern>
        </layout>
        <!--日志文件最大的大小-->
        <!--<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
        <!--<MaxFileSize>10MB</MaxFileSize>-->
        <!--</triggeringPolicy>-->
    </appender>


    <appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/orderTrace/pay-error.log.%d{yyyy-MM-dd}</FileNamePattern>
            <!--<MaxHistory>30</MaxHistory>-->
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
            </pattern>
        </layout>
        <!--日志文件最大的大小-->
        <!--<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
        <!--<MaxFileSize>10MB</MaxFileSize>-->
        <!--</triggeringPolicy>-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--start:web服务器性能log-->
    <appender name="webPerfFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/webperf/perfStats.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%msg %n</pattern>
        </encoder>
    </appender>
    <appender name="webCoalescingStatistics" class="org.perf4j.logback.AsyncCoalescingStatisticsAppender">
        <!--每分钟分析一次log，做出性能测试-->
        <param name="TimeSlice" value="60000"/>
        <appender-ref ref="webPerfFileAppender"/>
    </appender>
    <logger name="webTimingLogger" level="info" additivity="false">
        <appender-ref ref="webCoalescingStatistics"/>
    </logger>
    <!--endr:web服务器性能log-->

    <!--start:redis请求log-->
    <appender name="redisPerfFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/redis/perfStats.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%msg %n</pattern>
        </encoder>
    </appender>
    <appender name="redisCoalescingStatistics" class="org.perf4j.logback.AsyncCoalescingStatisticsAppender">
        <!--每分钟分析一次log，做出性能测试-->
        <param name="TimeSlice" value="60000"/>
        <appender-ref ref="redisPerfFileAppender"/>
    </appender>
    <logger name="redisTimingLogger" level="info" additivity="false">
        <appender-ref ref="redisCoalescingStatistics"/>
    </logger>
    <!--end:redis请求log-->

    <!--start:httpClient性能log-->
    <appender name="httpclientFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/httpclient/perfStats.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%msg %n</pattern>
        </encoder>
    </appender>
    <appender name="httpclientCoalescingStatistics" class="org.perf4j.logback.AsyncCoalescingStatisticsAppender">
        <!--每分钟分析一次log，做出性能测试-->
        <param name="TimeSlice" value="60000"/>
        <appender-ref ref="httpclientFileAppender"/>
    </appender>

    <logger name="httpClientTimingLogger" level="info" additivity="false">
        <appender-ref ref="httpclientCoalescingStatistics"/>
    </logger>
    <!--end:httpClient性能log-->

    <!--start:mysql请求log-->
    <appender name="dbPerfFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/mysql/perfStats.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%msg %n</pattern>
        </encoder>
    </appender>
    <appender name="dbCoalescingStatistics" class="org.perf4j.logback.AsyncCoalescingStatisticsAppender">
        <!--每分钟分析一次log，做出性能测试-->
        <param name="TimeSlice" value="60000"/>
        <appender-ref ref="dbPerfFileAppender"/>
    </appender>

    <logger name="dbTimingLogger" level="info" additivity="false">
        <appender-ref ref="dbCoalescingStatistics"/>
    </logger>
    <!--end:mysql请求log-->

    <logger name="com.sogou.pay" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="infoAppender"/>
        <appender-ref ref="errorAppender"/>
    </logger>


</configuration>