<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="sessionServerClient" class="com.sogou.upd.passport.session.sdk.client.SessionServerClient">
        <constructor-arg>
            <value>${pay.passport.clientid}</value>
        </constructor-arg>
        <constructor-arg>
            <value>${pay.passport.key}</value>
        </constructor-arg>
    </bean>
</beans>